<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>All Shows</title>
</head>
<body>
    <h1>All Shows</h1>

    <div id="wrapper">
        <div id="shows_table">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Network</th>
                        <th>Release Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for show in all_shows %}
                    <tr>
                        <td>{{show.id}}</td>
                        <td>{{show.title}}</td>
                        <td>{{show.network}}</td>
                        <td>{{show.release_date|date:"SHORT_DATE_FORMAT"}}</td>
                        <td><a href="/{{show.id}}">Show</a> | <a href="/{{show.id}}/edit">Edit</a> | <a href="/{{show.id}}/destroy">Delete</a></td>
                {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="/new">Add a new show</a>
    </div>
</body>
</html>